.projects {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4%;
    position: relative;
}

.projects h1 {
    text-align: center;
    font-size: 3rem;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    min-width: 100%;
    transition: 1s all;
    position: relative;
}


.slider i {
    color: #750d34;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.5s ;
    position: absolute;
}

.left-icon {
    position: fixed;
    left: 8%;
}

.right-icon {
    position: fixed;
    right: 8%;
}

.slider i:hover {
    transform: scale(1.3);
}

.slider i:active {
    opacity: 0.1;
}


.container {
    max-height: 70vh;
    max-width: 65vw;
    background-color: white;
    border-radius: 20px;
    display: flex;
}

.slide {
    transition: 0.1s all ease-in;
}

.slide.slide-active {
    opacity: 1;
    box-shadow: 1px 1px 5px rgb(218, 218, 218);
    border-radius: 20px;
    transition: 0.1s all;
    transform: scale(1.05);
}

.container img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.container img:hover {
    /* opacity: 0.3;
    color: #750d34; */
    transform: scale(1.02);
    box-shadow: 1px 1px 5px rgb(219, 219, 219);
    border-radius: 20px;
}



.container div {
    display: flex;
    justify-content: center;
}

.container h1 {
    position: absolute;
    top: 50%;
}

@media only screen and (max-width: 768px) {
    .projects h1 {
        font-size: 2.8rem;
        margin-top: 2%;
    }

    .container {
        
    }

    .container img {
        max-width: 100%;
        max-width: 100%;
    }
}